/* Font imported*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700;1,900&display=swap');

/* Reset HTML */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Tags Mods */
body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: row;
}

ul li {
    list-style-type: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}



div.txtcontainer > span > a{
    color: gray;
}

div.txtcontainer > span > a:hover{
    color: white;
    text-decoration:underline;
}
/* Utility */

.uppercase{
    text-transform:uppercase;
}

.textaligncenter{
    text-align: center;
}

.fontsizesmall{
    font-size: 0.8em;
}

.fontblod{
    font-weight:bold;
}

.colorwhite{
    color: white;
}

.bgcolorgrayhm{
    background-color: #1B1D27;
}

.colorgraybold{
    color: rgb(113, 113, 113);
    font-weight: bold;
}

.borderrad{
    border-radius: 100px;
}

.margintop1{
    margin-top: 10px;
}

.paddingleft1{
    padding-left: 1.2%;
}

.size{
    font-size: 1.2em;
}

.size:hover{
    font-size: 1.4em;
}

.colorgraygray{
    color: #2C2C2C;
}

.bgcolorwhite{
    background-color: white;
}

.timesize{
    font-size: 0.6em;
}

.sizesm{
    font-size: 0.9em;
}

.colorgray1{
    color: gray;
}



/* Web App for XS device, default, size < 576px */

.upgradebar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: 100vw;
    height: 6vh;
    background-color: #111219;  
}

#upgradebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 180px;
    height: 4vh;
    background-color: #111219;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    margin-top: 7px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px 5px;    
}

#upgradebutton:hover{
    flex-basis: 185px;
    height: 4.1vh;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 40px;
    height: calc(100vh - 10vh);
    background-color: black;
}    

.sidebar_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 39px;
    height: auto;
    margin-left: 5px;
}

.sidebar_container1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 39px;
    height: auto;
    margin-left: 5px;
}

.captionsidebar{
    display: none;
}

.captionsidebar1{
    display: none;
}

.captionsidebarmiddle{
    display: none;
}

.captionsidebar2{
    display: none;
}

.iconcontainer3{
    display: none;
}

.playlist{
    display: none;
}

.playlistcontainer{
    display: none;
}

.plus{
    display: none;
}

.playlist1{
    display: none;
}

.main_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.mainsection{
    display: flex;
    flex-direction: row;
    flex-basis: 100vw;
    height: calc(100vh - 16vh);
    background-color: rgb(27, 29, 39);
    overflow-y: auto;
}

.bottomicon1{
    display: flex;
    flex-direction: column;
    width: 25px;
    height: auto;
    margin: 3px auto;
}

.bottomicon2{
    display: flex;
    flex-direction: column;
    width: 25px;
    height: auto;
    margin: 5px auto;
    filter: opacity(0.5);
}

.bottomicon3{
    display: flex;
    flex-direction: column;
    width: 15px;
    height: auto;
    margin: 5px auto;
}

.bottomicon4{
    display: flex;
    flex-direction: column;
    width: 25px;
    height: auto;
    margin: 5px auto;
    background-color: gray;
    border:  solid gray;
    border-radius: 50px;
}

.bottomiconbig{
    display: none;
}

.mainmenucontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 4%;
    flex-wrap: wrap;
}

.fontmenu{
    display: flex;
    height: 2vh;
    flex-direction: row;
    color: gray;
    font-weight: bold;
    font-size: 0.6em;
    padding: 1%;
    margin-left: 2%;
}
    
.fontmenu:hover{
    color: white;
    border-bottom:1px solid limegreen;
}

.mainmenurow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.mainmenurow1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.windowsong{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 1.2%;
    padding-top: 4%;
}

.windowsong:hover{
    filter:drop-shadow(5px 3px 3px black);
}


.imgsize{
    width: 150px;
    height: 150px;
}

.caption{
    display: flex;
    width: 120px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.8em;
    color: white;
    white-space:pre-line;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.caption1{
    display: flex;
    width: 150px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.6em;
    white-space:pre-line;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.caption2{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.5em;
    white-space:pre-line;
    justify-content: flex-start;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}



.plus:hover{
    color: white;
}

.playlist1:hover{
    color: white;
}

/* Footer */

.fa-folder:hover{
    color: white;
}

.fa-heart:hover{
    color: white;
}

.footercover{
    display: fixed;
    width: auto;
    height: auto;
}

.footerbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    height: 10vh;
    background-color: #2B2B2B;
}

.footerbarsection{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
}

.footerbarsection1{
    display: flex;
    width: 60%;
    height: auto;
    flex-direction: column;
}

.footerbarsection2{
    display: flex;
    width: 40%;
    height: auto;
    flex-direction: row;
}

.underfooterbarsection{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    margin: 0 5px;
}

.underfooterbarsection1{
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: row;
    text-align: right;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0 5px;
}

.imgcontainer{
    width: auto;
    height: auto;
}

.imgsize1{
    width: 30px;
    height: 30px;
}

.txtcontainer{
    width: auto;
    height: auto;
}

.playtxt{
    width: auto;
    height: auto;
    color: white;
    font-size: 0.6em;
}

.playtxt1{
    display: inline-block;
    width: 100%;
    height: auto;
    color: gray;
    font-size: 0.5em;
}

.imgcontainer1{
    width: auto;
    height: auto;
    color: gray;
}

.imgsize2{
    width: auto;
    height: auto;
}

.imgsize3{
    width: auto;
    height: auto;
    margin-left: 8%;
    border: 2px solid white;
    border-radius: 100%;
}

.footertimebarc{
    display: flex;
    width: auto;
    height: auto;
}

.footertimebarc1{
    display: flex;
    width: 80%;
    height: 0.5vh;
    background-color: gray;
    margin: 0 4px;
    border: 1px solid gray;
    border-radius: 10px;
}

.footertimebarc1a:hover{
    display: flex;
    width: 80%;
    height: 0.5vh;
    background-color: gray;
    margin: 0 4px;
    border: 1px solid gray;
    border-radius: 10px;
}

.footertimebarc1:hover{
    background-color: lime;
}

.footertimebarc2{
    display: flex;
    width: 10%;
    height: 0.5vh;
    background-color: rgb(35, 35, 35);
}

.footertimebarc3{
    display: flex;
    width: 90%;
    height: 0.5vh;
    background-color: gray;
    margin: 0 4px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-right: 5px;
}

.footertimebarc4{
    display: flex;
    width: 40%;
    height: 0.5vh;
    background-color: rgb(35, 35, 35);
}

.footertimebarc3:hover{
    background-color: lime;
}

.footertimebarcpointer{
    display: flex;
    width: 3%;
    height: 0.5vh;
    background-color: gray;
    align-self: center;
}

.footertimebarcpointer:hover{
    display: flex;
    width: 1%;
    height: 1vh;
    background-color: lightgray;
    border: 8px solid lightgray;
    border-radius: 50px;
}

.underfooterbarsection2 {
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
  }

  .underfooterbarsection3 {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
  }


  /*  for XS device,  size >= 420px */
  @media screen and (min-width: 420px){
  .imgsize{
    width: 180px;
    height: 180px;
}
  }

 /* Web App for SM device,  size >= 576px */

@media screen and (min-width: 576px){
    .sidebar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-basis: 200px;
        height: calc(100vh - 10vh);
        background-color: black;
    }  

    .bottomicon1{
        display: none;
    }

    .bottomiconbig{
        display: flex;
        flex-direction: column;
        width: 100px;
        height: auto;
        margin: 3px 0;
    }

    .iconcontainer{
            display: flex;
            width: max-content;
            padding-left: 8px;
            margin-right: 10px;
    }

    .iconcontainer:hover{
        border-left: 2px solid limegreen;
    }

    .sidebar_container{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 39px;
        height: auto;
    }

    .sidebar_container1{
        display: flex;
        flex-direction:column;
        align-items:flex-start;
        width: 39px;
        height: auto;
    }

    .imgsize{
        width: 180px;
        height: 180px;
    }
        
    .caption{
        display: flex;
        width: 180px;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1em;
        color: white;
        white-space:pre-line;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        padding: 5px;
    }
        
    .caption1{
        display: flex;
        width: 180px;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.8em;
        white-space:pre-line;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        padding: 3px;
    }
        
    .caption2{
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.8em;
        white-space:pre-line;
        justify-content: flex-start;
        text-align: center;
        font-weight: bold;
        padding: 3px;
    }
        
    .captionsidebar{
        display: flex;
        width: 100%;
        height: auto;
        color: gray;
        font-size: 0.8em;
        align-items: center;
        justify-content: end;
        padding-left: 5px;
    }

    .captionsidebar:hover{
        color: white;
    }

        .captionsidebar1{
            display: flex;
            width: 100%;
            height: auto;
            color: grey;
            font-size: 0.7em;
            align-items: center;
            justify-content: end;
            margin-left: 5px;
        }

        .captionsidebar1:hover{
            color: white;
        }

        .captionsidebarmiddle{
            display: flex;
            flex-direction: row;
            align-self: baseline;
            width: 120px;
            height: 1px;
            background-color: gray;
            margin: 5px 0 10px 10px;
        }

        .captionsidebar2{
            display: flex;
            width: 100%;
            height: auto;
            color: white;
            font-size: 1em;
            align-items: center;
            justify-content: end;
            margin-left: 5px;
            margin-right: 10px;
        }

        .iconcontainer3{
            display: flex;
            flex-direction: column;
            width: max-content;  
            height: auto;
            padding-left: 8px;
            margin-right: 10px;
        }

        .playlist{
            display: flex;
            width: auto;
            height: auto;
            margin-top: 20px;
            color: white;
        }

        .plus{
            display: flex;
            flex-direction: row;
            width: 30px;
            height: 30px;
            background-color: gray;
            font-size: 1.5em;
            color: black;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            margin-top: 10px;
        }

        .plus1{
            display: flex;
            margin-top: 10px;
        }

        .plus1:hover{
         color: white;
        }

        .playlistcontainer{
            display: flex;
            width: 100%;
            height: auto;
            color: gray;
            font-size: 0.8em;
            align-items:center;
            font-weight: bold;
        }

        .underplaycontainer{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 25vh;
            overflow-y: auto;
        }

        .playlist1{
            display: flex;
            width: auto;
            height: auto;
            margin-top: 20px;
            color: gray;
            font-size: 0.8em;
        }
}

footer{
    display: fixed;
    width: auto;
    height: auto;
}
/*  for M device,  size >= 600px */
@media screen and (min-width: 600px){

    .underfooterbarsection2 {
        display: flex;
        width: 30%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 2px;
      }


    .footerbarsection{
        display: flex;
        width: 30%;
        height: auto;
        flex-direction: row;
    }

    .footerbarsection1{
        display: flex;
        width: 80%;
        height: auto;
        flex-direction: column;
    }
    
    .footerbarsection2{
        display: flex;
        width: 40%;
        height: auto;
        flex-direction: row;
    }

    .mainmenucontainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 4%;
        flex-wrap: wrap;
    }

    .fontmenu{
        display: flex;
        height: 2vh;
        flex-direction: row;
        color: gray;
        font-weight: bold;
        font-size: 0.8em;
        padding: 3%;
        padding-bottom: 5%;
        margin-left: 2%;
    }
    

    .underfooterbarsection{
        display: flex;
        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 2px;
        margin: 0 5px;
        }

    .fa-heart{
        margin-right:10px;
        }    

    .playtxt{
        display: flex;
        width: 100%;
        height: auto;
        color: white;
        font-size: 1.2em;
    }
        
    .playtxt1{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        color: gray;
        font-size: 0.5em;
    }
}